<!--
  Generated template for the ServiceForm page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="onSubmit(serviceForm.value)">
                {{operatorType}}
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content padding class="fpage">
    <form [formGroup]="serviceForm">
        <ion-card>
            <ion-card-content>
                <ion-row>
                    <ion-col width-25>
                        <ion-item>
                            <img src="assets/img/avatars.png" alt="Service Logo" (click)="takePicture()">
                        </ion-item>

                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                <ion-icon small name="magnet"></ion-icon>
                            </ion-label>
                            <ion-input type="text" formControlName="sTitle" class="placeholder-text" placeholder="Service Title"></ion-input>
                            <control-message [control]="serviceForm.get('sTitle')"></control-message>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-icon small name="calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY" class="placeholder-text" formControlName="sDate">
                            </ion-datetime>
                        </ion-item>

                    </ion-col>
                </ion-row>
                <ion-row *ngIf="!isNewForm">
                    <ion-col>
                        <ion-buttons start>
                            <button ion-button small outline (click)="toggleFav()" *ngIf="!isFavorited">
                                <ion-icon name="star" item-left></ion-icon>
                                
                            </button>
                            <button ion-button small color="danger" (click)="toggleFav()" *ngIf="isFavorited">
                                <ion-icon name="star" item-left></ion-icon>
                                
                            </button>
                        </ion-buttons>
                    </ion-col>

                    <ion-col>
                        <ion-buttons end>
                            <button ion-button small outline (click)="onClickJoin()" *ngIf="!isCreator">
                                <ion-icon name="add-circle" item-left></ion-icon>
                            </button>

                            <button ion-button small outline color="danger" (click)="onClickRemove()" *ngIf="isCreator ">
                                <ion-icon name="trash" item-left></ion-icon>
                                
                            </button>

                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <ion-item>
            <ion-label>
                <ion-icon small name="document" item-left></ion-icon>
            </ion-label>
            <ion-textarea row="5" formControlName="sDescription" class="placeholder-text textarea" placeholder="Description">

            </ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon small name="list" item-left></ion-icon>
            </ion-label>
            <ion-textarea row="5" formControlName="sSkillSets" class="placeholder-text textarea" placeholder="Skill Sets may use in this service (Excel, PowerPoint, R, Data Mining etc... )">

            </ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-icon small name="pin" item-left></ion-icon>
            </ion-label>
            <ion-textarea row="5" formControlName="sLocation" class="placeholder-text textarea" placeholder="Service Location">

            </ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-icon small name="person" item-left></ion-icon>
            </ion-label>
            <ion-input type="number" formControlName="sTeamSize" class="placeholder-text" placeholder="Team Size"></ion-input>
        </ion-item>

    </form>

</ion-content>